* {
  margin: 0;

}
html {
  font-family: "Source Code Pro", sans-serif;
  font-weight: 500;
}
nav {
  height: 64px;
  background-color: white;
  display: flex;
  align-items: center;
  font-family: inherit;
  background-color: #09497B;

}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px 24px;
}
.nav-links span a {
text-decoration: none;
color: white;
font-size: .75rem;
margin-left: 2rem;
}
.nav-links a:hover{
  color: #E1F809;
  border-bottom: 3px solid #E1F809;
  padding-bottom: 3px;
  transition: color 0.5s ease-out;
  transition: border-bottom .3s linear;
}

.jumbotron-container {
  display: flex;
  justify-content: center;
}
.img-container {
  display: flex;
  justify-content: center;
  margin: 2rem 1.5rem;
}
.img-container img {
  width: 60%;
  margin: 2rem 1.5rem;
}
.jumbo-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.jumbo-content h1 {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-eight: 500;
}
.jumbo-content p {
  margin-bottom: 2rem;
  font-size: 2rem;
}
.jumbo-content a {
  text-decoration: none;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: #09497B;
  text-align: center;
  border: 1px solid black;
  box-shadow: 10px 5px 1em black;
}
.btn:hover {
  color: #E1F809;
  box-shadow: 1em 1em 1em black;
  transition: box-shadow .5s ease-in-out, color 1s ease-in;
}
.start {
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
}
.abt-container {
  display: flex;
  justify-content: center;
}
.container {
  display: block;
}
.left{
  padding: 32px 24px;
  width: 60%;
}
.container .left img {
  margin: 32px 24px;
}
.about {
  display:flex;
  flex-direction: column;

}
.about h1 {
  margin-top: 32px;
  margin-bottom: 24px;
}
.author {

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.right {
  border-left: 1px solid grey;
  padding: 16px 0px;
}
.box {
  display: flex;
  align-items: center;
}
.img-box{
  padding: 16px;
}
.details {
}
.details h1 {
  font-weight: 600;
}
.details p {
  margin: 8px 0px;
}
.main-container {
  display: flex;
  justify-content: center;
}
.align-container {

}
.title-holder {
  display: flex;
  justify-content: center;
  padding:32px 0px;
}
.title {
  margin: 32px 0px;
}
.courses-container {
  display: flex;
  padding: 0px 72px;
  flex-wrap: wrap;
}
.course-box {
  margin-right: 32px;
  max-width: 532px;
  margin-bottom: 32px;
}
.course-box img {
  height: auto;
}
.course-box p {
  flex-wrap: wrap;
}
.course-box h1 {
  margin: 8px 0px;
}
.pd {
  padding-left: 16px;
}
footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #0A9AFF;
}
.copy-container {
  margin-left: 2rem;
  margin-top: .9rem;
}
.footer-info{
  margin-top: .9rem;
}
