* {
  margin: 0;
  border: 1px solid black;
}
nav {
  height: 64px;
  background-color: white;
  display: flex;
  align-items: center;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px 24px;
}
.nav-links span a {
text-decoration: none;
color: black;
}

.jumbotron-container {
  display: flex;
  justify-content: center;
  background-color: grey;
}
.img-container {
  display: flex;
  justify-content: center;
}
.img-container img {
  width: 60%;
  padding: 32px 24px;
}
.jumbo-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.btn {
  padding: 8px;
  background-color: grey;
  text-align: center;
}
.start {
  color: white;
}
.abt-container {
  display: flex;
  justify-content: center;
}
.container {
  display: block;
}
.left{

}
.container .left img {
  margin: 32px 24px;
}
.right {
  border-left: 1px solid grey;
}
.box {
  display: flex;
  align-items: center;
}
.img-box{
  padding: 16px;
}
